form {
    background-color: var(--med-gray);
    box-shadow: var(--main-shadow);
    padding: 1rem;
}

input, textarea {
    -webkit-appearance: none;
    background-color: var(--dark-gray);
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0px;
    box-shadow: var(--main-shadow);
    color: var(--white);
    font-family: var(--main-font);
    font-size: 1rem;
    margin: 0.5rem 0 1.5rem 0;
    padding: 1rem;
    transition: 0.2s;
}

input:focus, textarea:focus {
    transform: scaleX(1.01);
}

textarea {
    height: 150px;
    resize: none;
}

button {
    background-color: transparent;
    border: 2px solid var(--green);
    color: var(--green);
    cursor: pointer;
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
}