.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indexContent {
    text-align: center;
}

.indexHeading {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
    line-height: 0.8;
}

.indexSubheading {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: 2.25rem;
}

.socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socialMediaLogo {
    width: 32px;
    margin: 0 0.5rem;
}

