:root {
  --dark-gray: #161a1f;
  --med-gray: #242b33;
  --orange: #e75748;
  --white: #f7f9f8;
  --green: #48c77e;
  --main-font: "Montserrat", sans-serif;
  --main-shadow: 2px 3px 10px hsla(0, 0%, 0%, 0.26);
}
